#buildYourTeam .teamMembersList .container-of-team-members {
  min-height:50px;
}

#createTeam input.teamName {
  position:absolute;
}

#createTeam .actions {
  margin-top:70px;
}

.dialog .content .actions a:hover {
  color:#fff;
  text-decoration:underline;
}

.youtubeUploadFormTemplate input.file {
  left:-105px !important;
}
