@import url('reset.css');
@import url('useful.css');

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #262424;
  font-size: 12px;
}

.red {
  color:#742828;
}

p {
  font-size: 12px;
  line-height: 18px;
}


a.button,
input.button {
  width:auto;
  height:24px;
  float:left;
  background:#356aa0;
  padding:0 10px;
  margin:0 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #4d525b #303131 #3c3f42 #303131;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  color:#fff;
  font-size:11px;
  font-weight:bold;
  text-align:center;
  box-shadow: 0 2px 3px #a1aab2;
  -webkit-box-shadow: 0 2px 3px #a1aab2;
  -moz-box-shadow: 0 2px 3px #a1aab2;
  vertical-align: middle;
  cursor:pointer;
  text-decoration: none;
  line-height:24px;
  text-transform: uppercase;
}

input.button {
  height:26px;
}

a.button:hover,
input.button:hover {
  background: #4e81b6;
  border-color: #3c3f42 #303131 #6d7075 #303131;
}


.wrap{
  width:400px;
  margin-left:auto;
  margin-right:auto;
}

.logo img{
  width:45%;
  margin:auto;
}

.container{
  border: 2px dashed white;
  background: coral;
  color: white;
  padding:5px;
  border-radius: 5px;
  text-shadow: -1px -1px white, 1px 1px #333
}